img {
  width: 100%;
  height: auto;
  max-width: 120px;
  margin-right: 6px;
}

.toolbar {
  margin-left: -10px;
}

.bookmark {
  margin-left: 8px !important;
}

.navLink {
  display: flex;
  flex-wrap: nowrap;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  padding: 5px 14px;
  border-radius: 4px;
}
