.side-box {
  display: flex;
  flex-direction: column;
  margin: 42px auto auto 46px;
  overflow: hidden;
}

.bookmark-icon {
  margin-bottom: 24px;
  font-size: 64px !important;
}

.total-bookmarks {
  color: #646464;
}

.main-box {
  margin: 0 64px 64px 404px;
}
