.detail-box {
  display: flex;
  flex-direction: column;
  margin: 32px 46px 32px 46px;
}

.name {
  color: #375f9d;
  padding-top: 12px;
}

.box {
  margin: 0 64px 64px 380px;
}

.link-icon {
  margin-top: 2px;
}

.link-container {
  margin: 8px 0 24px 0;
}

.link {
  padding-left: 8px;
  color: #2c98f0 !important;
  text-decoration: none !important;
}

.top-items {
  margin-bottom: 32px;
}

.add {
  text-transform: none !important;
  margin: 20px 0 0 0 !important;
  color: #2c98f0 !important;
}

.delete {
  background-color: #2c98f0 !important;
  color: rgba(255, 255, 255, 0.87) !important;

  text-transform: none !important;
  margin: 20px 0 0 0 !important;
}
