.user-info {
  margin: 42px 67px;
}

.avatar {
  max-width: 206px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.login {
  color: #646464;
}

.bio {
  padding-top: 16px;
}

.user-repositories {
  margin: 0 64px 64px 380px;
}

.repo-result {
  display: flex;
  flex-direction: row;
}

.repo {
  margin-right: 10px !important;
}

.repo-count {
  padding: 6px 35px 2px 35px;
  border: 1px solid;
  border-radius: 8px;
  color: #2196f3;
  font-weight: bold;
}
