.box {
  display: flex;
  margin: 24px 0 23px 0;
}

.detail {
  padding-left: 1%;
}

.name {
  font-family: "Roboto";
  font-weight: 400;
  color: #375f9d;
  line-height: 1.2;
}

.link {
  text-decoration: none;
}
