.box {
  display: flex;
  padding-top: 2%;
}

.class-icon {
  margin-top: 0.5%;
}

.detail {
  padding-left: 1%;
  padding-bottom: 1%;
}

.name {
  font-family: "Roboto";
  font-weight: 400;
  color: #375f9d;
}

.link {
  text-decoration: none;
}
